name: Go Build and Docker Push

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Build & push Docker image
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      uses: mr-smithers-excellent/docker-build-push@v6
      with:
        image: richardsugiharto/stock_backend
        tags: latest
        registry: docker.io
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}